<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load i18n %}

<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/goals.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/user.css' %}" type="text/css">
    <meta charset="UTF-8">

    <title>
        {% block title %}
        title
        {% endblock %}
    </title>
</head>







<body>
    <div class="menu_content">

        <div class="menu_item" id="logo">
            <a href="{% url 'main_page' %}">{% trans "домой" %}</a>
        </div>

        <div class="menu_item" id="set_a_purpose">
            <a href="{% url 'create_goal' %}">{% trans "создать цель" %}</a>
        </div>

        <div class="menu_item" id="profile">
            <div class="dropdown">
                {% if request.user.is_authenticated %}
                    {{ request.user.username}}
{#                        <div class="main_user_info">#}
{#                            <div class="main_user_img_block">#}
{#                                <a href="{% url 'user_blog' pk=request.user.id %}">#}
{#                                    {% if request.user.profile %}#}
{#                                        <img class="main_user_img" src="{{ request.user.profile.profile_img.url }}">#}
{#                                    {% else %}#}
{#                                        <img class="main_user_img" src="{% static 'img/default_images/defaultuser.png' %}">#}
{#                                    {% endif %}#}
{#                                    <div class="main_user_name">{{ request.user.username }}</div>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}

                    <div class="dropdown-content">
                        <p><a href="{% url 'profile' pk=request.user.id %}">{% trans "профиль" %}</a></p>
                        <p><a href="{% url 'goals_list' pk=request.user.id %}">{% trans "мои цели" %}</a></p>
                        <p><a href="{% url 'friends' %}">{% trans "друзья" %}</a></p>
                        <p><a style="color: #c52525" href="{% url 'logout' %}">{% trans "выход" %}</a></p>
                    </div>

                {% else %}
                    <a class="unauth_user" href="{% url 'login' %}">{% trans "войти" %}</a>
                {% endif %}
            </div>
        </div>
    </div>



    <div class="main_content">
        <div class="page_title">
            {% block page_title %}
            {% endblock %}
        </div>

        {% block content %}

        {% endblock %}
    </div>


    <div class="bottom_content">
        <form id="lang_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input id="lang_input" class="lang_change_form" name="next" type="hidden" value="{{ redirect_to }}">
            <select id="lang_select" class="lang_change_from" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option id="lang_option" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input id="lang_go" class="lang_change_form" type="submit" value=">>">
        </form>
    </div>




{#    </div>#}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $( document ).ready(function() {
        $('.sub_info').submit(function(e){
            e.preventDefault()

            const user_id = $(this).attr('id')
            const saveText = $(`.sub-btn${user_id}`).text()
            const trim = $.trim(saveText)
            const url = $(this).attr('action')

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'user_id':user_id,
                },
                success: function(response) {
                    if(trim === 'Запрос отправлен') {
                        $(`.sub-btn${user_id}`).text('Добавить в друзья').css('background-color', '#39B62BE5')
                        console.log(user_id, saveText)
                    } else {
                        $(`.sub-btn${user_id}`).text('Запрос отправлен').css('background-color', '#C52525E5')
                        console.log(user_id, saveText)
                    }
                },
                error: function(response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>

</body>

</html>


